.vs/
bin/
bin-int/

SDL_Mandelbrot/vendor/boost_1_72_0/
SDL_Mandelbrot/vendor/glm-0.9.9.6/doc/
SDL_Mandelbrot/vendor/glm-0.9.9.6/test/
SDL_Mandelbrot/vendor/glm-0.9.9.6/util/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

devlog.md